<h2>Sign up</h2>

  <%= form_with model: @user, url: new_user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :ユーザー名 %><br>
    <%= f.text_field :name %>
  </div>
  
  <%= f.radio_button :sex, :male %>
  <%= f.label :sex, "男性", value: :male %>
  
  <%= f.radio_button :sex, :female %>
  <%= f.label :sex, "女性", value: :female %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（６文字以上） %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

