<h1>ゲーム記事新規投稿</h1>

<%= form_with model: @game_articles, url: admin_game_articles_path, local:true do |f| %>

  <%= f.label "記事名" %>
  <%= f.text_field :title %>
  
  <%= f.label "記事詳細説明" %>
  <%= f.text_area :introduction, :size => "40x8" %>
  
  <%= f.label "記事作品画像" %>
  <%= f.file_field :get_game_article_image, placeholder: "記事作品画像", accept: "image/*" %>

  <%= f.submit "新規登録" %>
  
<% end %>