<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/sideber' %>
    </div>
    <div class="col-md-9">
      <%= image_tag 'トップ画像.png', size: '850x550' %>
      <h2 class="mt-3">投稿されたゲーム一覧</h2>
      
      <div class="row mr-5 mb-5">
        <div class="col-12">
          <% @new_game_works.first(3).each do |game_work| %>
            <%= link_to game_work_path(game_work) do %>
              <%= image_tag(game_work.get_game_work_image(200,200), alt: game_work.title)%>
            <% end %>
            <%= link_to game_work.title, game_work_path(game_work) %>
          <% end %>
        </div>
      </div>
      <h2>最新ゲーム情報一覧</h2>
      
      <% @new_game_articles.first(3).each do |game_article| %>
        <%= link_to game_article_path(game_article) do %>
          <%= image_tag(game_article.get_game_article_image(225,250), alt: game_article.title)%>
        <% end %>
        <%= link_to game_article.title, game_article_path(game_article) %>
      <% end %>
  </div>
</div>