<%= image_tag 'トップ画像.png' %>
<h2>投稿されたゲーム一覧</h2>

<% @new_game_works.first(3).each do |game_work| %>
  <%= link_to game_work_path(game_work) do %>
    <%= image_tag(game_work.get_game_work_image(225,250), alt: game_work.title)%>
  <% end %>
  <%= link_to game_work.title, game_work_path(game_work) %>
<% end %>
<h2>最新ゲーム情報一覧</h2>

<% @new_game_articles.first(3).each do |game_article| %>
  <%= link_to game_article_path(game_article) do %>
    <%= image_tag(game_article.get_game_article_image(225,250), alt: game_article.title)%>
  <% end %>
  <%= link_to game_article.title, game_article_path(game_article) %>
<% end %>

<%= render 'layouts/sideber' %>

<p>↑これらは右側に表示される</p>

<p>サイドバーに名前検索、ロゴ、ジャンルとプラットフォームジャンルの検索タグがある</p>

<%= link_to "運営用", new_admin_session_path %>