<div class="container">
  <div class = "row mt-5">
    <div class="col-12">
      <h1>プラットフォームジャンル一覧・追加</h1>
    </div>
  </div>
    <%= form_with model: @platform_genre, url: admin_platform_genres_path do |f| %>
      <div class="row mx-auto pt-4 align-items-center">
        <div class = "col-2 ">
          <%= f.label "プラットホームジャンル登録" %>
        </div>
        <div class = "col-3">
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class = "co-3">
          <%= f.submit "新規登録", class: "btn btn-lg", style: "background-color: #ff3838;" %>
        </div>
      </div>
    <% end %>
    <table class= "table", style="color: #ffff38;">
      <thead>
        <tr>
          <th>
            プラットホームジャンル
          </th>
        </tr>
      </thead>
      <% @platform_genres.each do |platform_genre| %>
        <tr>
          <td><%= platform_genre.name %></td>
          <td><%= link_to "編集する", edit_admin_platform_genre_path(platform_genre.id), class:"btn font-bold", style: "background-color: #22995d;" %></td>
        </tr>
      <% end %>
    </table>
    <div class="form-row d-flex flex-row-reverse">
      <div class="col-5 form-group ml-5">
        <%= link_to "ジャンル一覧・追加", admin_genres_path, class:"btn font-bold", style: "background-color: #0b0b33;" %>
      </div>
    </div>
</div>