
<%= image_tag @game_work.get_game_work_image(400,300) %>

<%= @game_work.title %>

<%= @game_work.introduction %>

<div>
  <p>レビュー件数：<%= @game_work.reviews.count %></p>
  <% @game_work.reviews.first(1).each do |review| %>
    <p><%= image_tag review.user.get_profile_image(100,100) %></p>
    <%= review.user.name %>
    <%= review.created_at.strftime('%Y/%m/%d') %><%= review.content %>
  <% end %>
</div>
<div>
  <%= form_with model: [@game_work, @review], url: game_work_reviews_path(@game_work), local: true do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :content, rows: '5', placeholder: "レビューをここに" %>
    <% if @review.id.nil? %>
      <div class="form-group" id="star">
        <%= f.label :star %>
        <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
        <div id="post_raty"></div>
      </div>
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#post_raty');
          if (elem == null) return;
    
          elem.innerHTML = ""
          let opt = {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'review[star]',
          };
          raty(elem, opt);
        });
      </script>
    <% else %>
      <%= render "public/reviews/static_rate", review: review %>
    <% end %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

 

<p><%= link_to "合計#{@game_work.reviews.count} 個　レビュー一覧へ", game_work_reviews_path(game_work_id: @game_work.id) %></p>
