<h1>マイページ</h1>

<%= image_tag @user.get_profile_image(100,100) %>

<tbody>
  <tr>
    <td>ユーザー名</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>性別</td>
    <td><%= I18n.t("activerecord.attributes.user.sex.#{@user.sex}") %></td>
  </tr>
  <tr>
    <td>年齢</td>
    <td><%= @user.age %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @user.email %></td>
  </tr>
</tbody>

<%= link_to "編集する", edit_users_path(@user) %>

<% unless @user.guest_user? %>
  <div class="row">
    <%= link_to "", edit_users_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
  </div>
<% end %>