<div class="container">
  <div class="row">
      <% if user_signed_in? %>
        <%= form_with url: searches_path, local: true, method: :get do |f| %>
          <div class="form-row">
            <div class="col-12 form-group">
              <%= f.text_field :word %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 form-group">
              <%= f.select :range, options_for_select([['投稿されたゲーム'], ['ゲーム記事']]) %>
              <%= f.hidden_field :search, value: "partial_match" %>
              <%= f.submit "検索", class: "btn font-bold btn-sm", style: "background-color: #36b3b3;" %>
            </div>
          </div>
        <% end %>
      <% end %>
    
    <%= link_to root_path do %>
      <%= image_tag 'LOGO画像2.png', size: '200x200' %>
    <% end %>
    
    <table>
      <tbody>
          <tr>
            <th>
              <details> <summary><strong>ジャンル一覧</strong></summary>
                <ul>
                  <% @genres.each do |genre| %>
                      <li><%= link_to genre.name, game_works_path(genre_id: genre.id) %></li>
                  <% end %>
                </ul>
              </details>
            </th>
          </tr>
      </tbody>
    </table>
    
    <table>
      <tbody>
          <tr>
            <th>
              <details> <summary><strong>プラットフォームジャンル一覧</strong></summary>
                <ul>
                  <% @platform_genres.each do |platform_genre| %>
                      <li><%= link_to platform_genre.name, game_works_path(platform_genre_id: platform_genre.id) %></li>
                  <% end %>
                </ul>
              </details>
            </th>
          </tr>
      </tbody>
    </table>
  </div>
</div>